.structure-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 102%;
}

.company-buttons-category {
    width: 70%; 
    display: flex;
    flex-direction: row;
}

.company-button {
    background-color: #68501C;
    border: 5px solid #3e2e0b;
    width: 40%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    border-radius: 15px;
    align-items: center; 
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
    color: #E3E3E3;
    text-align: center;
    font-size: clamp(20px, 1.9vw, 1.9vw);
    transition: background-color 0.2s, transform 0.2s; 
}

.company-button-active {
    background-color: #AB9D68 !important;
    border: 5px solid #3e2e0b;
    width: 40%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    border-radius: 15px;
    align-items: center; 
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
    color: #E3E3E3;
    font-size: clamp(20px, 1.9vw, 1.9vw);
}

.company-button:hover {
    background-color: #827545 !important; 
}


.company-button:active {
    background-color: #bbb; 
    transform: scale(0.95);
}

.company-button-active:hover {
    background-color: #68501C ; 
}

/* Media Queries for smaller screens */
@media (max-width: 480px) {
    .company-buttons-category {
        width: 85%;
    }
}