.page-description {
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    position: absolute;
    background: rgba(96, 96, 96, 0.8); 
    padding: 20px;
    border-radius: 10px;
}

.description-text {
    font-family: 'League Spartan', sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); 
    -webkit-text-stroke: 0.5px #000000;
    color: #E8E8E8;
    text-align: center;
    font-size: clamp(13px, 1.5vw, 1.5vw);
}

.description-header-text {
    font-size: clamp(18px, 2.7vw, 2.7vw);
    font-weight: 800;
    margin-bottom: 10px;
}

.description-bold-text {
    font-size: clamp(13px, 1.5vw, 1.5vw);
    font-weight: 800;
}


.slider {
    margin-top: 10px;
    border: 5px solid #000000;
    width: 100%;
    min-height: 40vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
    aspect-ratio: 960 / 227;
}

.slider figure {
    position: relative;
    width: 700%;
    height: 100%;
    margin: 0;
    left: 0;
    animation: 60s slider infinite;
}

.slider figure img {
    float: left;
    width: 14.2857%; 
    height: 100%;
    object-fit: cover; 
}

@keyframes slider {
    0% {
        left: 0;
    }
    7.14% {
        left: 0;
    }
    14.28% {
        left: -100%;
    }
    21.42% {
        left: -100%;
    }
    28.56% {
        left: -200%;
    }
    35.70% {
        left: -200%;
    }
    42.84% {
        left: -300%;
    }
    49.98% {
        left: -300%;
    }
    57.12% {
        left: -400%;
    }
    64.26% {
        left: -400%;
    }
    71.40% {
        left: -500%;
    }
    78.54% {
        left: -500%;
    }
    85.68% {
        left: -600%;
    }
    92.82% {
        left: -600%;
    }
    100% {
        left: -600%;
    }
}

.join-now-button {
    background-color: #294C2A;
    border: 5px solid #192F1A;
    box-sizing: border-box;
    width: 30%;
    height: auto;
    min-height:  60px;
    display: flex;
    border-radius: 15px;
    align-items: center; 
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
    color: #E3E3E3;
    font-size: clamp(18px, 1.9vw, 1.9vw);
    text-decoration: none;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    margin-top: -35px;
    transition: background-color 0.2s, transform 0.2s; 
    z-index: 2;
}
.join-now-button:hover {
    background-color: #3a5c3a;
}

.join-now-button:active {
    background-color: #bbb;
    transform: translateX(-50%) scale(0.95);
}

/* Media Queries for Responsiveness based on width */
@media (max-width: 768px) {
    .slider {
        min-height: 40vh; 
        height: 10px;
        background-color: #000000;
    }

    .slider figure {
        height: 100%; 
    }

    .slider figure img {
        height: 100%;
        object-fit: cover; 
    }
}

@media (max-width: 480px) {
    body {
        overflow-x: hidden; 
    }

    .page-description {
        width: 70%;
        height: auto;
    }

    .slider {
        min-height: 35vh; 
        border-top: 3px solid #000000;
        border-bottom: 3px solid #000000;
        width: 100%;
    }

    .slider figure {
        height: 100%; 
    }

    .slider figure img {
        height: 100%;
        object-fit: cover; 
    }

    .join-now-button {
        width: 40%;
        border-radius: 10px;
        padding: 5px;
        margin-top: -25px;
    }
}