.structure-main {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: stretch; /* Ensure children stretch to the same height */
}

.hierarchy {
    width: 100%; 
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    position: relative;
}

.hierarchy-headers {
    width: 100%;
    position: relative;
}

.hierarchy-header {
    background-color: #294C2A;
    border: 5px solid #192F1A;
    width: 97%;
    height: 90px;
    align-items: center; 
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
    color: #E3E3E3;
    font-size: 50px;
    text-align: center;
    display: flex;
    border-radius: 15px;
    margin-bottom: 15px;
}

.hierarchy-section-officer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.hierarchy-section-nco {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.officers-section {
    margin-bottom: 20px;
}

.senior-ncos {
    margin-bottom: 20px;
}

.online-members {
    width: 45%;
    background-color: #294C2A;
    border: 5px solid #192F1A;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Allow scrolling if content overflows */
    min-height: 700px; /* Set minimum height to 700px */
    max-height: 100%; /* Ensure it doesn't exceed the height of .hierarchy */
    margin-bottom: 5px;
}

.online-members-line {
    width: 90%;
    height: 5px;
    background-color: #192F1A;
    border-radius: 15px;
    min-height: 5px;
}

.online-members-list {
    flex-grow: 1; 
    width: 90%;
    overflow-y: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.online-members-list {
    scrollbar-width: thin; 
    scrollbar-color: #294C2A #192F1A; 
    -ms-overflow-style: none;
}

.online-members-list::-ms-scrollbar {
    width: 12px;
}

.online-members-list::-ms-thumb {
    background: #294C2A;
    border-radius: 10px; 
}

.online-members-list::-ms-track {
    background: #192F1A; 
}

.structure-header-text {
    font-family: 'League Spartan', sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); 
    -webkit-text-stroke: 1px #000000;
    color: #E3E3E3;
    font-size: 60px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: clamp(30px, 3.0vw, 60px);
}

.spinner {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

.line-seperator {
    width: 90%;
    height: 5px;
    background-color: #828282;
    margin-bottom: 20px;
    border-radius: 15px;
    display: none;
}

.line-vertical-seperator {
    height: auto;
    background-color: #828282;
    margin-bottom: 20px;
    border-radius: 15px;
    margin: 15px;
    margin-left: 30px;
    margin-right: 30px;
    width: 5px;
    display: block;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Ensure the content wraps properly and stays within the container */
#discord-bot-output {
    white-space: pre-wrap; /* Wraps the text to fit within the container */
    word-wrap: break-word; /* Breaks long words to fit within the container */
    padding: 10px; /* Adds padding to prevent content from touching the edges */
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
}

/* Media Queries for smaller screens */
@media (max-width: 480px) {
    .online-members {
        padding: 10px; /* Adds padding to the container */
        height: auto;
        min-height: 0px;
    }

    .online-members-list {
        padding: 10px; /* Adds padding to the list container */
    }

    .structure-main {
        flex-direction: column;
    }

    .online-members {
        width: 93%;
    }

    .hierarchy {
        width: 100%;
    }

    .line-seperator {
        display: block;
    }

    .line-vertical-seperator {
        display: none;
    }

    .structure-main {
        align-items: center;
    }
}